body{
    text-align: center;
    text-shadow: 0 0 12px black; 
}


h1{
    font-size: 72px;
    font-weight: normal;
}

.text{
    font-size: 18px;    
    color: white;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
}

.contenu{
    margin-left: 24%;
    margin-right: 24%;
    top: 24px;
    padding-top: 54px;
    background-color: RGBa(255,255,255,0.125);
    height: 100%;
    position: static;
    box-shadow: 0px 0px 24px black;
}