.logo{
    float: left;
    width: 360px;
    padding-top: 6px;
    height: 66px;
    text-align: center;
    font-family: "Lobster", cursive;
    font-size: 48px;
    color: white;
    text-decoration: none;
}

.logo:hover{
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0), rgba(255,255,255,0) 48px);
}