body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    background-color: #424242;
    box-shadow: 0px 0px 24px black;
    position: fixed;
    top: 0;
    z-index: 11;
    padding: 0;
    
}

nav a{
   display: inline-block;
   text-decoration: none;
}

nav input[type=checkbox]{
    display: none;
}

nav input[type=checkbox]:checked ~ ul{
    display: block;
}

nav li{
    list-style-type: none;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 10;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav > ul > li{
    float: right;
    position: relative;
}

nav > ul > li > a{
    padding: 24px 36px;
    width: 120px;
    height: 24px;
    color: white;
    text-align: center;
    
}

.menu{
    font-size: 22px;
}

.menu:hover{
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0), rgba(255,255,255,0) 48px);
}

.menu-mobile {
    display: none;
}

.menu .submenu{
    background-color: #424242;
}

.menu .submenu li:hover{
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0), rgba(255,255,255,0) 48px);
}
    
.submenu{
    display: none;
}

.submenu li a {
    padding: 24px 36px;
    width: 120px;
    color: white;
    text-align: center;
}

@media screen and (max-width : 1144px){
    .menu-mobile {
        display: block;
        color: white;
        background-color: #424242;
        text-align: center;
        padding: 18px 0;
    }
    nav ul{
        display: none;
    }
    .logo{
        display: none;
    }
    nav ul li, nav ul li a{
        width: 100%;
        text-align: center; 
    }
    nav ul li a, nav ul li:hover a{
        padding: 12px 0px 12px 0px
    
    }
    nav li:hover .submenu{
        display: block;
        position: static;
    }
    body{
    background: url("../images/ImageFondAlt.png");
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    .text{
    font-size: 12px;
    color: white;
    text-align: justify;
    margin-left: 6%;
    margin-right: 6%;
    }
    .footer {
    font-size: 12px;
    padding-right:36px;
    }
    .menu{
    font-size: 18px;
    }
    h1{
    font-size: 36px;
    font-weight: normal;
    }
}
}