body{
    text-align: center;
    text-shadow: 0 0 12px black;
    bottom: 6%;
}


h1{
    font-size: 72px;
    font-weight: normal;
}

p{
    font-size: 18px;    
    color: white;
    text-align: justify;
}

.background-transparent{    
    position: fixed;
    margin-left: 24%;
    margin-right: 24%;
    width: 52%;
    height: 100%;
    background-color: RGBa(255,255,255,0.125);
    box-shadow: 0px 0px 24px black;
}

.content{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 27%;
    margin-right: 27%;
}

.form {
    position: relative;
    text-align: center;
}

.fa {
    padding: 12px;
    font-size: 72px;
    width: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 0px 0px 12px black;
}

.fa:hover {
    background: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.socialnetworks{
    position: fixed;
    z-index: 50;
    bottom: 12px;
    left: 12px;
    text-align: left;
}

.button{
    width: 162px;
    padding: 12px 24px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 12px black;
    background: #424242;
    font-family: "Lobster", cursive;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 12px black;
}

.button-dis{
    width: 162px;
    padding: 12px 24px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 12px black;
    background: #313131;
    font-family: "Lobster", cursive;
    color: white;
    font-size: 18px;
    text-shadow: 0px 0px 12px black;
}

.button:hover{
    background: grey;
}